

/*----------- PAGE STYLES --------------------
---------------------------------------------*/
div,
header{
	border: red 2px solid;
}

body{
	background-color: #59ABE3;
	font-family: 'Lato', sans-serif;
}

ul{
	list-style: none;
}

button{
	width: 100%;
}

button,
#add-item{
	font-size: 1em;
	background-color: #59ABE3;
	border: none;
	color: #ffffff;
	text-transform: uppercase;
}

.title{
	padding: 5em;
	text-align: center;
	text-transform: uppercase;
}

.title h1{
	color: #F2F1EF;
	font-size: 4em;
}

.phrase ul{
	margin: 0 auto;
}

.phrase li{
	border-right: #F4B350 solid 2px;
	color: #F2F1EF;
	float: left;
	padding: .5em 1em;
	text-transform: lowercase;
}

.phrase li:last-child{
	border-right: none;
}

.list-content{
	margin-bottom: 25em;
	min-width: 300px;
	min-height: 500px;
	position: relative;

}

form {
	padding-top: 1em;
	margin: 0 auto;
}

.item-form{
	background-color: #F4B350;
	padding: 1em 2em;
	text-align: center;
}

.list{
	background-color: #F2F1EF;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
	min-width: 300px;
	min-height: 500px;
}

input#item{
	background-color: #F2F1EF;
	border: none;
	color: #777;
	margin-right: 1em;
	margin-left: 1.5em;
	padding-left: 2em;
	float: left;
}

.category-dropdown{
	width: 30%;
	float: left;
}
