

/*----------- GENERAL STYLES --------------------
---------------------------------------------*/
/*div,
header{
	border: red 2px solid;
}*/

body,
.category-dropdown{
	background-color: #59ABE3;
	font-family: 'Lato', sans-serif;
}

ul{
	list-style: none;
}

button{
	width: 100%;
}

button,
#add-item{
	font-size: 1em;
	background-color: #59ABE3;
	border: none;
	color: #ffffff;
	text-transform: uppercase;
}

/*----------- HEADER STYLES --------------------
---------------------------------------------*/

.title{
	padding: 5em;
	text-align: center;
	text-transform: uppercase;
}

.title h1{
	color: #F2F1EF;
	font-size: 4em;
}

.phrase{
	padding-left: 30%;
}

.phrase li{
	border-right: #F4B350 solid 2px;
	color: #F2F1EF;
	float: left;
	padding: .5em 1em;
	text-transform: lowercase;
}

.phrase li:last-child{
	border-right: none;
}

@media (max-width: 850px){
    .phrase{
	padding-left: 15%;
}
}

@media (max-width: 500px){
    .phrase{
	padding: 0;
}
}

/*----------- GENERAL LIST STYLES --------------------
---------------------------------------------*/

.list-content{
	margin-bottom: 25em;
	min-width: 300px;
	min-height: 500px;
	position: relative;

}

/*----------- LIST INPUT STYLES --------------------
---------------------------------------------*/

form {
	padding-top: 1em;
	margin: 0 auto;
}

.item-form{
	background-color: #F4B350;
	padding: 1em 2em;
	text-align: center;
}

input#item{
	background-color: #F2F1EF;
	border: #F2F1EF;
	color: #777;
	margin-right: 1em;
	margin-left: 1.5em;
	padding-left: 2em;
	float: left;
}

.category-dropdown{
	border: none;
	border-radius: 4px;
	color: #F2F1EF;
	width: 80%;
	float: left;
	text-transform: uppercase;
}

@media (max-width: 600px) {
	input#add-item,
	input#item,
	.category-dropdown{
		width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 800px) {
	.four.columns{
		width: 40%
	}

	.three.columns{
		width: 100%;
	}
}

/*----------- LIST STYLES --------------------
---------------------------------------------*/

.top-row{
	padding-top: 3em;
}

.list{
	background-color: #F2F1EF;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
	min-width: 300px;
	min-height: 500px;
}

.one-third{
	padding: 2em;
}

.one-third h4{
	background-color: #F4B350;
	color: #F2F1EF;
	text-align: center;
}

.list li{
	cursor: pointer;
}

.show{
	float: right; 
	color: red;
}

.bought{
	text-decoration: line-through;
}


